<h1>Show Author</h1>

<ul>

  <li>
    <strong>Full name:</strong>
    <%= @author.full_name %>
  </li>

  <li>
    <strong>About:</strong>
    <%= @author.about %>
  </li>

  <strong>Books:</strong>
  <%= for book <- @author.books do %>
    <li><%= link book.english_title, to: Routes.book_path(@conn, :show, book) %></li>
  <% end %>

</ul>

<%= if BookapoAdmin.Helpers.admins_signed_in?(@conn) do %>
  <% uri = %URI{host: "admin.localhost", port: 4000} %>
  <span><%= link "Edit", to: BookapoAdminWeb.Router.Helpers.author_url(uri, :edit, @author) %></span>
  <span><%= button "Delete", to: BookapoAdminWeb.Router.Helpers.author_url(uri, :delete, @author), method: :delete, data: [confirm: "Are you sure?"] %></span>
<% end %>
