<h1>Edit Book</h1>

<%= form_for :book, Routes.book_path(@conn, :update, @book), [method: :patch], fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :english_title %>
  <%= text_input f, :english_title, value: @book.english_title %>
  <%= error_tag f, :english_title %>

  <%= label f, :persian_title %>
  <%= text_input f, :persian_title, value: @book.persian_title %>
  <%= error_tag f, :persian_title %>

  <%= label f, :about %>
  <%= textarea f, :about, value: @book.about %>
  <%= error_tag f, :about %>

  <%= label f, :category %>
  <%= select f, :category_id, Enum.map(@categories, &{&1.name, &1.id}) %>
  <%= error_tag f, :category_id %>

  <%= label f, :author %>
  <%= select f, :author_id, Enum.map(@authors, &{&1.full_name, &1.id}) %>
  <%= error_tag f, :author_id %>

  <p>Divide tags using "," or ", "</p>
  <p><b>Example:</b> Fun, Comedy,Horrible</p>
  <%= label f, :tags %>
  <%= text_input f, :tags, value: @book.tags |> Enum.map(&(&1.tagname)) |> Enum.join(", ") %>
  <%= error_tag f, :tags %>

  <div>
    <%= submit "Save" %>
  </div>
<% end %>
