<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :english_title %>
  <%= text_input f, :english_title %>
  <%= error_tag f, :english_title %>

  <%= label f, :persian_title %>
  <%= text_input f, :persian_title %>
  <%= error_tag f, :persian_title %>

  <%= label f, :release_year %>
  <%= number_input f, :release_year %>
  <%= error_tag f, :release_year %>

  <%= label f, :about %>
  <%= textarea f, :about %>
  <%= error_tag f, :about %>

  <%= label f, :category %>
  <%= select f, :category_id, Enum.map(@categories, &{&1.name, &1.id}) %>
  <%= error_tag f, :category_id %>

  <%= label f, :author %>
  <%= select f, :author_id, Enum.map(@authors, &{&1.full_name, &1.id}) %>
  <%= error_tag f, :author_id %>

  <p>Divide tags using "," or ", "</p>
  <p><b>Example:</b> Fun, Comedy,Horrible</p>
  <%= label f, :tags %>
  <input id="book_tags" name="book[tags]" type="text" value="<%= f.params["tags"] %>">
  <%= error_tag f, :tags %>

  <div>
    <%= submit "Save" %>
  </div>
<% end %>
