<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :name %>
  <%= text_input f, :name %>
  <%= error_tag f, :name %>

  <%= label f, :parent %>
  <%= select f, :parent_id, [{"No Parent Category", nil} | Enum.map(@categories, &{&1.name, &1.id})] %>
  <%= error_tag f, :parent_id %>

  <div>
    <%= submit "Save" %>
  </div>
<% end %>
