<%= form_for @conn, Routes.book_path(@conn, :index), [method: :get], fn f -> %>
  <%= label f, :search_in_name_and_author %>
  <%= search_input f, :query, placeholder: "Search"%>

  <%= label f, :search_with_tag %>
  <%= search_input f, :tags, placeholder: "Example: fun, sad" %>

  <%= label f, :category_ids %>
  <%= for category <- @categories do %>
    <%= checkbox f, "category_ids[]", checked_value: category.id, unchecked_value: nil, checked: "#{category.id}" in (@conn.params["category_ids"]||[]) %>
    <%= category.name %>
    <br>
  <% end %>

  <%= label f, :author %>
  <%= select f, :author_id, [{"All Authors", nil} | Enum.map(@authors, &{&1.full_name, &1.id})] %>

  <%= label f, :sort_by %>
  <%= select f, :sort_by, ["Recently Added": :inserted_at, "Release Year": :release_year] %>

  <%= label f, :sort_option %>
  <%= select f, :sort_option, ["Descending": :desc, "Ascending": :asc] %>

  <%= submit "Filter" %>
<% end %>

<h1>Listing Books</h1>

<table>
  <thead>
    <tr>
      <th>English title</th>
      <th>Persian title</th>
      <th>Author</th>
      <th>Category</th>
      <th>Tags</th>
      <th>Release Year</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for book <- @books do %>
    <tr>
      <td><%= book.english_title %></td>
      <td><%= book.persian_title %></td>
      <td><%= book.author.full_name %></td>
      <td><%= book.category.name %></td>
      <td><%= book.tags |> Enum.map(&(&1.tagname)) |> Enum.join(" - ") %></td>
      <td><%= book.release_year %></td>

      <td>
        <span><%= link "Show", to: Routes.book_path(@conn, :show, book) %></span>
        <%= if BookapoAdmin.Helpers.admins_signed_in?(@conn) do %>
          <% uri = %URI{host: "admin.localhost", port: 4000} %>
          <span><%= link "Edit", to: BookapoAdminWeb.Router.Helpers.book_url(uri, :edit, book) %></span>
          <span><%= button "Delete", to: BookapoAdminWeb.Router.Helpers.book_url(uri, :delete, book), method: :delete, data: [confirm: "Are you sure?"] %></span>
        <% end %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
