<h1>Show Book</h1>

<ul>

  <li>
    <strong>Release Year:</strong>
    <%= @book.release_year %>
  </li>

  <li>
    <strong>Category:</strong>
    <%= link @book.category.name, to: Routes.category_path(@conn, :show, @book.category) %>
  </li>

  <li>
    <strong>Author:</strong>
    <%= link @book.author.full_name, to: Routes.author_path(@conn, :show, @book.author) %>
  </li>

  <li>
    <strong>English title:</strong>
    <%= @book.english_title %>
  </li>

  <li>
    <strong>Persian title:</strong>
    <%= @book.persian_title %>
  </li>

  <li>
    <strong>About:</strong>
    <%= @book.about %>
  </li>

  <li>
    <strong>Tags:</strong>
    <%= @book.tags |> Enum.map(&(&1.tagname)) |> Enum.join(", ") %>
  </li>

</ul>

<%= if BookapoAdmin.Helpers.admins_signed_in?(@conn) do %>
  <% uri = %URI{host: "admin.localhost", port: 4000} %>
  <span><%= link "Edit", to: BookapoAdminWeb.Router.Helpers.book_url(uri, :edit, @book) %></span>
  <span><%= button "Delete", to: BookapoAdminWeb.Router.Helpers.book_url(uri, :delete, @book), method: :delete, data: [confirm: "Are you sure?"] %></span>
<% end %>
