<h1>Show Category</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @category.name %>
  </li>

  <strong>Books:</strong>
  <%= for book <- @books do %>
    <li><%= link "#{book.persian_title} - (#{book.category.name})", to: Routes.book_path(@conn, :show, book) %></li>
  <% end %>
  <br>

  <strong>Subcategories:</strong>
  <%= for category <- @subcategories do %>
    <li><%= link "#{category.name} - (#{category.id})", to: Routes.category_path(@conn, :show, category) %></li>
  <% end %>

</ul>

<%= if BookapoAdmin.Helpers.admins_signed_in?(@conn) do %>
  <% uri = %URI{host: "admin.localhost", port: 4000} %>
  <span><%= link "Edit", to: BookapoAdminWeb.Router.Helpers.category_url(uri, :edit, @category) %></span>
  <span><%= button "Delete", to: BookapoAdminWeb.Router.Helpers.category_url(uri, :delete, @category), method: :delete, data: [confirm: "Are you sure?"] %></span>
<% end %>
